 p.ourexample {
     position: absolute;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 32px;
     line-height: 40px;
     color: #222222;
     padding-left: 8%;
     box-sizing: border-box;
 }

 div.ourline {
     position: absolute;
     width: 40px;
     height: 2px;
     margin-top: 9%;
     background: #222222;
 }

 div.photos {
     position: absolute;
     width: 1180px;
     height: 1302px;
     left: 200px;
     top: 946px;

 }

 div.top {
     position: absolute;
     left: 11.81%;
     right: 37.5%;
     top: 2%;
     width: 50%;
     height: 10%;
 }

 img.firstph {
     position: absolute;
     top: 12%;
     filter: brightness(70%);
     width: 730px;
     height: 270px;

 }

 p.novo1 {
     position: absolute;
     left: 4.38%;
     right: 78.36%;
     top: 11.85%;
     bottom: 79.26%;

     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     /* identical to box height, or 120% */


     /* White */

     color: #FFFFFF;
 }

 img.secondph {
     position: absolute;
     width: 360px;
     height: 550px;
     top: 12%;
     right: 7%;
     filter: brightness(70%);


 }

 p.novo2 {
     position: absolute;
     top: 12%;
     right: 25%;

     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     /* identical to box height, or 120% */
     /* White */

     color: #FFFFFF;
 }

 img.thirdph {
     position: absolute;
     height: 270px;
     width: 360px;
     top: 33.5%;
     filter: brightness(70%);

 }

 p.vtor1 {
     position: absolute;
     left: 2%;
     top: 33.5%;

     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     color: #FFFFFF
 }

 img.fourhp {
     position: absolute;
     height: 270px;
     width: 364px;
     left: 31%;
     top: 33.5%;
     filter: brightness(70%);
 }

 p.vtor2 {
     position: absolute;
     left: 33%;
     top: 33.5%;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     color: #FFFFFF;
 }

 img.fivehp {
     position: absolute;
     height: 550px;
     width: 360px;
     filter: brightness(70%);
     top: 55%;
 }

 p.novo3 {
     position: absolute;
     top: 55%;
     left: 2%;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     /* identical to box height, or 120% */


     /* White */

     color: #FFFFFF;
 }

 img.sixph {
     position: absolute;
     height: 270px;
     width: 364px;
     left: 31%;
     top: 55%;
     filter: brightness(70%);
 }

 p.vtor3 {
     position: absolute;
     top: 55%;
     left: 33%;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     color: #FFFFFF;
 }

 img.sevenph {
     position: absolute;
     height: 270px;
     width: 360px;
     top: 55%;
     right: 7%;
     filter: brightness(80%);
 }

 p.vtor4 {
     position: absolute;
     top: 55%;
     right: 28%;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     color: #FFFFFF;
 }

 img.eightph {
     position: absolute;
     height: 270px;
     width: 730px;
     top: 76.5%;
     right: 7%;
     filter: brightness(70%);
 }

 p.novo4 {
     position: absolute;
     top: 76.5%;
     right: 57%;
     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 24px;
     color: #FFFFFF;
 }

 div.allprojects {
     position: absolute;
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10px 48px;

     position: absolute;
     width: 182px;
     height: 40px;
     left: 44%;
     top: 2300px;

     /* Black With 30% Transparency */

     border: 1px solid rgba(34, 34, 34, 0.3);
     box-sizing: border-box
 }

 p.textproj {
     position: static;
     left: 26.37%;
     right: 26.37%;
     top: 25%;
     bottom: 25%;

     /* H4 */

     font-family: 'Gilroy';
     font-style: normal;
     font-weight: 800;
     font-size: 14px;
     line-height: 20px;
     /* identical to box height, or 143% */

     text-align: center;

     /* Black */

     color: #222222;


     /* Inside auto layout */

     flex: none;
     order: 0;
     flex-grow: 0;
     margin: 0px 0px;
 }

 div.button2 {
     position: absolute;
     left: -5.59%;
     right: 93.82%;
     top: 48.75%;
     bottom: 48.75%;

     /* Black */

     background: #222222;
 }